/*********************************************

BASIC CSS FORMATTING

EVERYTHING SHOULD BE CENTERED AND BACKGROUND GREEN (115,130,92)

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
  background:rgb(115,130,92);
}
